<div class='bar_title'></div>

*Introduction to Data Science*

# Combining Data and Tidy Data

Gunther Gust<br>
Chair for Enterprise AI

Winter Semester 24/25

<img src='https://github.com/GuntherGust/tds2_data/blob/main/images/d3.png?raw=true' style='width:20%; float:left;' /> <br>

<img src='https://github.com/GuntherGust/tds2_data/blob/main/images/CAIDASlogo.png?raw=true' style='width:20%; float:left;' />

# Agenda

- ## Combining Data

    - ### Merging DataFrames
    - ### Joining DataFrames
    - ### Concatenating DataFrames

- ## Tidy Data
- ## Real-world Case Study

# Combining Data

There are 3 main ways of combining DataFrames together: Merging, Joining and Concatenating. In this lecture we will discuss these 3 methods with examples.

## Merging

The `pd.merge` function implements a number of types of joins: one-to-one, many-to-one, and many-to-many. All three types of joins are accessed via an identical call to the `pd.merge` interface; the type of join performed depends on the form of the input data. We'll start with some simple examples of the three types of merges, and discuss detailed options a bit later.

There are different types of merges you can perform: inner, outer, left and right. The following picture describes what each method means.

<img src='images\join_options.png' style='width:50%; float:left;' />

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue', 'Tim'],
                    'group': ['Accounting', 'Engineering',
                              'Engineering', 'HR', 'HR']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue', 'Anne'],
                    'hire_date': [2004, 2008, 2012, 2014, 2006]})
display(df1, df2)

### Inner join

In [ ]:
df3 = pd.merge(df1, df2, on= "employee")
display(df1, df2, df3)

If the column name is identical in both original dataframes, you don't need to pass the `on=` argument:

In [ ]:
df3b = pd.merge(df1, df2)
df3b

### Left join

In [ ]:
df3c = pd.merge(df1, df2, how= "left")
df3c

### Right join

In [ ]:
df3d = pd.merge(df1, df2, how= "right")
df3d

### (Full) outer join

In [ ]:
df3e = pd.merge(df1, df2, how= "outer")
df3e

The result of the merge is a new DataFrame that combines the information from the two inputs. Notice that the order of entries in each column is not necessarily maintained: in this case, the order of the employee column differs between df1 and df2, and the pd.merge function correctly accounts for this. Additionally, keep in mind that the merge in general discards the index, except in the special case of merges by index (see the left_index and right_index keywords).

### One-to-Many Joins

__One to one join:__

<img src='images\inner_join_one_to_one.png' style='width:80%; float:left;' />

__One to many join__:

<img src='images\inner_join_one_to_many.png' style='width:80%; float:left;' />

One-to-Many joins are joins in which one of the two key columns contains duplicate entries. For the One-to-Many case, the resulting DataFrame will preserve those duplicate entries as appropriate. Consider the following example of a One-to-Many join:

In [ ]:
df4 = pd.DataFrame({'group': ['Accounting', 'Engineering', 'HR'],
                    'supervisor': ['Carly', 'Guido', 'Steve']})
display(df3, df4, pd.merge(df3, df4))

### Many-to-Many Joins

Many-to-many joins may be a bit confusing conceptually, but are nevertheless well defined. If the key column in both the left and right arrays contains duplicates, then the result is a many-to-many merge. This will be perhaps most clear with a concrete example. Consider the following, where we have a DataFrame showing one or more skills associated with a particular group. By performing a many-to-many join, we can recover the skills associated with any individual person:

In [ ]:
df5 = pd.DataFrame({'group': ['Accounting', 'Accounting',
                              'Engineering', 'Engineering', 'HR', 'HR'],
                    'skills': ['math', 'spreadsheets', 'software', 'math',
                               'spreadsheets', 'organization']})
display(df1, df5, pd.merge(df1, df5))

### Specification of the Merge Key

In [ ]:
df3 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'salary': [70000, 80000, 120000, 90000]})
display(df1, df3)

In [ ]:
pd.merge(df1, df3, left_on="employee", right_on="name")

In [ ]:
#get rid of extra column
pd.merge(df1, df3, left_on="employee", right_on="name").drop('name', axis=1)

 ### Exercise 1

 The following tables are given:

In [ ]:
employees = pd.DataFrame({
    'employee_id': [1, 2, 3, 4, 5],
    'name': ['Alice', 'Bob', 'Carol', 'David', 'Eve'],
    'department_id': [101, 102, 103, 101, None]
})

departments = pd.DataFrame({
    'department_id': [101, 102, 103, 104],
    'department_name': ['Sales', 'Engineering', 'Marketing', 'HR']
})

projects = pd.DataFrame({
    'project_id': ['P1', 'P2', 'P3', 'P4', 'P6'],
    'employee_id': [1, 1, 2, 3, 6],
    'project_name': ['Market Analysis', 'Sales Strategy', 'Product Design', 'Campaign', 'Special Project']
})

display(employees, departments, projects)

 What kind of join(s) should be performed in order to get the following result? Is it a one to one or a one to many or a many to many join? Recreate the joined table.



 <img src='images\merged_table_lecture_exercise.png' style='width:70%; float:left;' />

In [ ]:
# Your code here...

## Joining

For convenience, Pandas includes the `DataFrame.join()` method, which performs an index-based merge without extra keywords. This is mostly a simplification of the already discussed `merge` method.

In [ ]:
df1a = df1.set_index('employee')
df2a = df2.set_index('employee')
display(df1a, df2a)

In [ ]:
df1a.join(df2a)

# instead of: pd.merge(df1a, df2a, left_index=True, right_index=True)

In [ ]:
df1a.join(df2a, how='inner')

## Concatenation

Concatenation is all about glueing DataFrames together. Just remember that the dimensions need to match along the axis you’re concatenating on. You can use `pd.concat` and provide a list of DataFrames or Series objects to concatenate them:

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7]) 

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

display(df1, df2, df3)

### Along the Rows

<img src='images\concat_axis0.avif' style='width:50%; float:left;' />

In [ ]:
pd.concat([df1,df2,df3]) # default: axis=0


### Along the Columns

<img src='images\concat_axis1.avif' style='width:50%; float:left;' />

In [ ]:
pd.concat([df1,df2,df3],axis=1)

(If the indexes of the dataframes are identical, no `NaN` values are created. But with overlapping indices, using `pd.merge()` / `join()` is preferable.)

## Control Questions: Mentimeter

# Tidy data

We will learn a consistent way to organise data in Python, an organisation called __tidy data__. Getting your data into this format requires some upfront work, but that work pays off in the long term. Once you have tidy data and pandas data frames, you will spend much less time munging data from one representation to another, allowing you to spend more time on the analytic questions at hand.

This chapter will give you a practical introduction to tidy data and the accompanying tools in the `pandas` package.

## Example

You can represent the same underlying data in multiple ways. The example below shows the same data organised in four different ways. Each dataset shows the same values of four variables *country*, *year*, *population*, and *cases*, but each dataset organises the values in a different way.

In [ ]:
base_url = "https://raw.githubusercontent.com/vhaus63/ids_data/refs/heads/main/"
table1 = pd.read_csv("{}table1.csv".format(base_url))
table2 = pd.read_csv("{}table2.csv".format(base_url))
table3 = pd.read_csv("{}table3.csv".format(base_url))
table4a = pd.read_csv("{}table4a.csv".format(base_url))
table4b = pd.read_csv("{}table4b.csv".format(base_url))
table5 = pd.read_csv("{}table5.csv".format(base_url), dtype = 'object')

In [ ]:
display(table1) # cases and population in separate columns
display(table2) # type of measurement in one column, count in the other
display(table3) # rate=cases/population in one column

# Spread across two DataFrames
display(table4a)  # cases
display(table4b)  # population

### Motivating example

Compute the `rate` for `table1`, `table2`, and `table4a` + `table4b`.
    You will need to perform four operations:
1. Extract the number of TB cases per country per year.
2. Extract the matching population per country per year.
3. Divide cases by population, and multiply by 10000.
4. Store back in the appropriate place.

Which representation is easiest to work with? Which is hardest? Why?

These are all representations of the same underlying data, but they are not equally easy to use. One dataset, the tidy dataset, will be much easier to work with.


There are three __interrelated rules__ which make a dataset tidy:

1.  Each __variable__ must have its own __column.__

2.  Each __observation__ must have its own __row.__

3.  Each __value__ must have its own __cell.__

Why ensure that your data is tidy? There are two __main advantages:__

1.  There's a general advantage to picking one __consistent way of storing
    data.__ If you have a consistent data structure, it's easier to learn the
    tools that work with it because they have an underlying uniformity.

2.  There's a specific advantage to placing variables in columns because it allows __Pandas' and NumPy's vectorised nature to shine.__

The principles of tidy data seem so obvious that you might wonder if you'll ever encounter a dataset that isn't tidy. Unfortunately, however, most data that you will encounter will be untidy. There are two main reasons:

1.  Most __people aren't familiar__ with the principles of tidy data, and it's hard to derive them yourself unless you spend a _lot_ of time working with data.

1.  Data is often organised to facilitate some __use other than analysis.__ For  example, data is often organised to make entry as easy as possible.

This means for most real analyses, you'll need to do some tidying. 

1. __The first step__ is always to __figure out__ what the variables and observations are. Sometimes this is easy; other times you'll need to consult with the people who originally generated the data.

2. The second step is to __resolve one of two common problems:__

    1. One variable might be spread across multiple columns.

    1. One observation might be scattered across multiple rows.

Typically a dataset will only suffer from one of these problems; To fix these problems, you'll need three functions in pandas: `melt()`, `pivot()`, and `pivot_table()`. There are two additional functions called `stack()` and `unstack()` that use multi-index columns and rows. Pandas provides a guide to [reshaping and pivot tables](https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html#reshaping) in their user guide.



### Longer (`melt()`)

A common problem is a dataset where some of the column names are not names of variables, but _values_ of a variable. Take `table4a`: the column names `1999` and `2000` represent values of the `year` variable, the values in the `1999` and `2000` columns represent values of the `cases` variable, and each row represents two observations, not one.

In [ ]:
table4a

To tidy a dataset like this, we need to __stack__ the offending columns into a new pair of variables. To describe that operation we need three parameters:

* The set of columns whose names are identifier variables, not values. In this example,
  `country` is the identifier column and the value columns are `1999` and `2000`.


* The name of the variable to move the column names to. Here it is `year`.


* The name of the variable to move the column values to. Here it's `cases`.


Together those parameters generate the call to `melt()`:

In [ ]:
table4a.melt(['country'], var_name = "year", value_name = "cases")

`year` and `cases` do not exist in `table4a` so we put their names in quotes.

In the final result, the pivoted columns are dropped, and we get new `year` and `cases` columns. Otherwise, the relationships between the original variables are preserved. Visually, this is shown in Figure \@ref(fig:tidy-gather).

`melt()` makes datasets longer (imagine melting icecream down the cone) by increasing the number of rows and decreasing the number of columns. I don’t believe it makes sense to describe a dataset as being in “long form”. Length is a relative term, and you can only say that dataset A is longer than dataset B.

We can use `melt()` to tidy `table4b` in a similar fashion. The only difference is the variable stored in the cell values:

In [ ]:
table4b.melt(['country'], var_name = 'year', value_name = 'population')

To combine the tidied versions of `table4a` and `table4b` into a single DataFrame, we need to use `merge()`.

In [ ]:
tidy4a = table4a.melt(['country'], var_name = "year", value_name = "cases")
tidy4b = table4b.melt(['country'], var_name = 'year', value_name = 'population')
pd.merge(tidy4a, tidy4b, on = ['country', 'year'])

### Wider (`pivot()`)

`pivot()` is the opposite of `melt()`. You use it when an observation is scattered across multiple rows. For example, take `table2`: an observation is a country in a year, but each observation is spread across two rows.

In [ ]:
table2

To tidy this up, we first analyse the representation in similar way to `melt()`. This time, however, we only need two parameters:

* The column to take variable names from. Here, it's `type`.

* The column to take values from. Here it's `count`.

Once we've figured that out, we can use `pivot()`.

In this example, we have a multi-column `index` argument and will need to use `pivot_table()`.  With a single column index `pivot()` can be used.

In [ ]:
table2.pivot_table(
    index = ['country', 'year'], 
    columns = 'type', 
    values = 'count').reset_index()

As you might have guessed from their names, `pivot()` and `pivot_table()` are complements to `melt()`. `melt()` makes wide tables narrower and longer; `pivot()` and `pivot_table()` makes long tables shorter and wider.

## Control Questions: Mentimeter

 ### Exercise 2



 You’re given a DataFrame containing survey results from different years, with each year as a separate column. The data currently looks like this:

In [ ]:
data = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Carol', 'David'],
    '2020': [3, 2, 5, None],
    '2021': [None, 3, 4, 4],
    '2022': [2, 5, None, 3]
})

data

 Reshape the data such that it becomes tidy and fill any missing value in the value column with 0.

In [ ]:
# Your code here...

## Exercise: Real-world data tidying problem

To finish off the chapter, let's pull together everything you've learned to tackle a realistic data tidying problem. The `tidyr::who` dataset contains tuberculosis (TB) cases broken down by year, country, age, gender, and diagnosis method. The data comes from the [2014 World Health Organization Global Tuberculosis Report](http://www.who.int/tb/country/data/download/en/).

There's a wealth of epidemiological information in this dataset, but it's challenging to work with the data in the form that it's provided:

In [ ]:
who = pd.read_csv("https://raw.githubusercontent.com/vhaus63/ids_data/refs/heads/main/who.csv")
# Fix the Namibia NA iso code.
who.loc[who.iso2.isna(),'iso2'] = "NA"

who

This is a very typical real-life example dataset. It contains redundant columns, odd variable codes, and many missing values. In short, `who` is messy, and we'll need multiple steps to tidy it. 

This endeavor will be part of the following exercise.

<img src='images/d3.png' style='width:80%; float:left;' />